
#headerImg{
    background-image:url('../img/header.jpg');
    background-repeat:no-repeat;
    height:198px;
}

#mugshot {
    background-image: url('../img/marianne_hesselholt.jpg');
    width: 140px;
    height: 173px;
    float:right;
    position:relative;
    top:-20px;
    border-radius:10px;
}

#intro {
    height: 200px;
}

#featuredbook{
    height: 100px;
}

#latestblog{
    height: 100px;
}

#nexttalk{
    height: 100px;
}
