
#intro {
    height: 175px;
    border: 1px solid black;
    font-size: 19px;
    text-align: center;
}

#intro p {
    margin-top:15px;
}

#featuredbook {
    height: 200px;
    width: 690px;
    border: 1px solid black;
}

#featuredbookimg{
    background-image: url('../img/books/tobias-og-englen-115x175.jpg');
    margin: 10px;
    height: 180px;
    width: 115px;
    background-repeat: no-repeat;
    float:left;
}

#featuredbooktxt p {
    margin-top: 20px;
}

button.readmore {
    background-color:#690;
    padding:6px;
}

#featuredbook .readmore{
    position: relative;
    top: 48px;
    left: 451px;
}

#featuredbook .readmore:hover, #latestblog .readmore:hover {
    text-decoration: underline;
    cursor: pointer;
}

#featuredbook .title, #nexttalk .title, #externallinks .title, #latestblog .title {
    background-color: #330;
    color: #fff;
    text-transform: uppercase;
    padding-left: 5px;
}

#featuredbook .booktitle {
    font-weight:bold;
    margin: 5px;
}

#featuredbook .booktext {
    margin: 0px;
}

#latestblog{
    width: 250px;
    border: 1px solid black;
}

#latestblog .readmore {
    position: relative;
    left: 138px;
    top: -3px;
}

#latestblog p {
    padding-left: 5px;
}

#latestblog .blogtitle {
    margin:0;
    font-weight: bold;
}

#latestblog .blogdate {
    font-style: italic;
}

#latestblog .blogtext {
    font-size: 15px;
}

#nexttalk{
    height: 200px;
    border: 1px solid black;
}

#externallinks {
    height: 100px;
    border: 1px solid black;
    padding: 1px;
}

#externallinks ul li{
    float: left;
    list-style-type: none;
    margin: auto;
    padding: 0px 15px;
}

#nexttalk p {
    margin: 30px 0 0 30px;
}

#externallinks a {
    color: #00c;
}
