
#headerImg{
    background-image:url('../img/header.jpg');
    background-repeat:no-repeat;
    height:198px;
}

#mugshot {
    background-image: url('../img/marianne_hesselholt.jpg');
    width: 140px;
    height: 173px;
    float:right;
    position:relative;
    top:-20px;
    border-radius:10px;
}

#intro {
    height: 200px;
    border: 1px solid black;
}

#featuredbook{
    height: 200px;
    width: 690px;
    border: 1px solid black;
}

#featuredbookimg{
    background-image: url('../img/digteren-og-malerinden.png');
    margin: 10px;
    height: 180px;
    width: 115px;
    background-repeat: no-repeat;
    float:left;
}

#featuredbooktxt{
    margin: 10px;
}

#latestblog{
    width: 242px;
    border: 1px solid black;
}

#nexttalk{
    height: 200px;
    border: 1px solid black;
}

#externallinks{
    height: 100px;
    border: 1px solid black;
}